footer p
{
    padding: 20px;
    color: var(--cor-textos1);
}
footer .link-github
{
    color: var(--cor-textos1);
}
.header-inner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.logo
{
    width: 200px;
    height: 100px;
}
nav
{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a
{
    color: var(--cor-textos1);
}
