:root
{
    --cor-voltar: rgb(7, 246, 99);
    --cor-fundo: rgb(69, 4, 4);
    --cor-fundo-galeria: #1a0000;
    --cor-borda-galeria: #ebc90b;
    --cor-textos1: rgb(220, 210, 0);
    --cor-textos2: white;
    --cor-textos3: rgb(80, 120, 255);
    --cor-referencias: rgb(7, 246, 99);
    --cor-formulario1: #2a0000;
    --cor-formulario2: black;
    --cor-fundo-formulario: rgb(220, 220, 20);
}
